<app-navbar></app-navbar>
<div class="main-container">
    <span class="raqamingizni-kiriting">Ro'yxatdan o'tish</span>
    <div class="form-input">
        <input class="input" placeholder="Ismingizni kiriting"/>
    </div>
    <div class="form-input">
        <input class="input" placeholder="Familiyangizni kiriting"/>
    </div>
    <div class="form-input">
        <input class="input" placeholder="Telefon raqamingizni kiriting"/>
    </div>
    <div class="form-input">
        <input class="input" placeholder="Parolingizni kiriting"/>
    </div>
    <button class="form-button">
        <span class="accept-code">Ro'yxatdan o'tish</span>
    </button>
    <p>Avval ro'yxatdan o'tganmisiz <a routerLink="/login">Kirish</a></p>
</div>