.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
}

.empty-cart-icon-svg {
    position: relative;
    width: 210px;
    height: 210px;
    margin-top: 80px;
    margin-left: 45%;
    z-index: 3;
    overflow: hidden;
}

.empty-cart-icon-svg-fill {
    position: absolute;
    width: 210px;
    height: 210px;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
}

.empty-cart-icon-svg-1 {
    position: relative;
    width: 210px;
    height: 179px;
    margin: 15.5px 0 0 0;
    background-size: cover;
    z-index: 5;
    overflow: hidden;
}

.heading-hozircha-sizning-savatchangiz {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 425.61px;
    height: 29px;
    margin-top: 50px;
    margin-left: 40%;
    color: #000000;
    font-family: 'Montserrat',sans-serif;
    font-size: 23.8125px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
}

.button {
    position: relative;
    width: 400px;
    height: 50px;
    margin-top: 90px;
    margin-left: 40%;
    background: #262a2c;
    z-index: 1;
    border-radius: 60px;
}

.menyuni-korish {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    background: transparent;
    border: none;
    transform: translate(-49.92%, -50%);
    z-index: 2;
}