<app-navbar></app-navbar>
<div class="main-container">
    <div class="empty-cart-icon-svg">
        <div class="empty-cart-icon-svg-fill">
            <div class="empty-cart-icon-svg-1"><img src="https://bellissimo.uz/images/emptystate/empty-cart-icon.svg" alt=""></div>
        </div>
    </div>
    <span class="heading-hozircha-sizning-savatchangiz">Hozircha sizning savatchangiz boʻsh 😕</span>
    <div class="button"><button class="menyuni-korish" routerLink="/home">Bosh Sahifaga qaytish</button></div>
</div>