<app-navbar></app-navbar>
<div class="main-container">
    <span class="raqamingizni-kiriting">Kirish</span>
    <div class="form-input">
        <input class="input" placeholder="Telefon raqamingizni kiriting"/>
    </div>
    <div class="form-input">
        <input class="input" placeholder="Parolingizni kiriting"/>
    </div>
    <button class="form-button">
        <span class="accept-code">Kirish</span>
    </button>
    <p>Akkauntingiz yo'qmi <a routerLink="/register">Ro'yxatdan o'ting</a></p>
</div>