<app-navbar></app-navbar>

<div class="carousel-image"
    style="width: 100%; height: 415.45px;margin-top: 15px; margin-bottom: 7%; text-align: center;">
    <img style="width: 96%; border-radius: 8px;"
        src="https://bellissimo.uz/_next/image?url=https%3A%2F%2Fio.bellissimo.uz%2Fimages%2F1a357663-0299-4be6-974c-dc7dad2eb895_uz.jpg&w=1200&q=75"
        alt="">
</div>

<div class="popup-overlay" id="popup">
    <div class="popup-content">
        <span class="close-btn" (click)="closePopup()">×</span>
        <div class="popup-info">
            <h2>Chilonzor</h2>
            <p>Shuhrat chorrahasi</p>
            <p>10:00 - 22:00</p>
        </div>
        <div class="popup-info">
            <h2>Chilonzor</h2>
            <p>Shuhrat chorrahasi</p>
            <p>10:00 - 22:00</p>
        </div>
        <div class="popup-info">
            <h2>Chilonzor</h2>
            <p>Shuhrat chorrahasi</p>
            <p>10:00 - 22:00</p>
        </div>
        <div class="popup-info">
            <h2>Chilonzor</h2>
            <p>Shuhrat chorrahasi</p>
            <p>10:00 - 22:00</p>
        </div>
    </div>
</div>

<button class="custom-button" (click)="openPopup()">
    <span style="color:#FFC600">Filliallar</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
        <g clip-path="url(#clip0_1_152)">
            <path
                d="M0.857152 8.47043L0.402583 8.01586L0.214294 8.20415V8.47043H0.857152ZM8.02041 1.30716L8.47498 0.852595C8.22394 0.601544 7.8169 0.601544 7.56585 0.852595L8.02041 1.30716ZM10.8857 4.17247L11.3403 4.62704C11.5913 4.37598 11.5913 3.96895 11.3403 3.7179L10.8857 4.17247ZM3.72246 11.3357V11.9786H3.98874L4.17703 11.7903L3.72246 11.3357ZM0.857152 11.3357H0.214294C0.214294 11.6908 0.502111 11.9786 0.857152 11.9786V11.3357ZM1.31172 8.925L8.47498 1.76173L7.56585 0.852595L0.402583 8.01586L1.31172 8.925ZM7.56585 1.76173L10.4312 4.62704L11.3403 3.7179L8.47498 0.852595L7.56585 1.76173ZM10.4312 3.7179L3.26789 10.8812L4.17703 11.7903L11.3403 4.62704L10.4312 3.7179ZM3.72246 10.6929H0.857152V11.9786H3.72246V10.6929ZM1.50001 11.3357V8.47043H0.214294V11.3357H1.50001Z"
                fill="#FFC600" />
        </g>
        <defs>
            <clipPath id="clip0_1_152">
                <rect width="12" height="12" fill="white" transform="translate(0 0.449951)" />
            </clipPath>
        </defs>
    </svg>
</button>

<div class="category-cart-field"></div>
<div class="category-con">
    <div class="categories">
        <span class="category"><a>Kombo</a></span>
        <span class="category"><a>Pitsa</a></span>
        <span class="category"><a>Gazaklar</a></span>
        <span class="category"><a>Ichimliklar</a></span>
        <span class="category"><a>Salatlar</a></span>
        <span class="category"><a>Desertlar</a></span>
        <span class="category"><a>Souslar</a></span>
    </div>
    <div class="cart">
        <div class="cart-info">
            <div class="cart-label"><a routerLink="/emptybasket">Savatcha</a></div>
        </div>
    </div>
</div>

<div class="card-container">
    <p class="cards-category">Kombolar</p>
    <div class="cards">
        <a href="#" class="card">
            <img src="https://bellissimo.uz/_next/image?url=https%3A%2F%2Fio.bellissimo.uz%2Fimages%2F03650000-6bec-ac1f-05ef-08db9f189c3d.jpg&w=1200&q=75" alt="">
            <div class="card__info">
                <h3>DONARLI JUFTLIK</h3>
                <h6>Retsep of Product that u seen here bir balo bir balo good good klub</h6>
                <button>89,000 so'm<span><img src="https://bellissimo.uz/images/cart-icon-black.svg" alt=""></span></button>
            </div>
        </a>
    </div>
</div>

<div class="container">
    <span class="content">
      <div class="section">
        <span class="subsection">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9af866ab4642bcd51d6c85475112fbbb0f2d6c82388a597c64eb52f776096b9?" class="image" />
          <div class="text">Raqamga qo'ng'iroq qiling - 1174</div>
        </span>
        <span class="links">
          <div class="link">Biz haqimizda</div>
          <div class="link">Ommaviy oferta</div>
          <div class="link">Maxfiylik siyosati</div>
          <div class="link">Halol setifikati</div>
          <div class="link">Restoranlar</div>
        </span>
        <span class="section-2">
          <div class="link">Franchayzi</div>
          <div class="link">Bizning ish o'rinlarimiz</div>
        </span>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/73de1b62883665e7a57f4048dc8414bbae96325dac88003882423a75ed835805?" class="image-2" />
        <span class="section-3">
          <div class="text">Bizni kuzatib boring</div>
          <div class="images">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3abbd4f8894a2600148a0a29c977bc9636de57ab60718e970a65f1d746bf69b7?" class="image-3" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7c75d38903995c273b194bb3d7e9fca0e3b358c557ec33fd6f6c3975be8f7071?" class="image-4" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ce143cd6744ebceb48695ba344151eba1ac4a243b1a01a983cfa1e2c74e3f797?" class="image-5" />
          </div>
        </span>
      </div>
      <div class="copyright">© 2016-2024 Bellissimo Pizza.</div>
    </span>
  </div>
